* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --button: #181448;
  --border: #1F2E70;
  --background: #DFEBF6;
  --header: #0E1134;
  
  
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 2rem;
  background-color: var(--background);
  
}

h2 {
  text-align: center;
}

.Title {
  font-weight: 1000;
  text-align: center;
  background-color: var(--header);
  padding: 1rem 0;
  color: #FFF;
}

.StatBox{
  border-bottom: 2px solid var(--border);
}

.Category{
  font-weight: bold;
  margin-right: 0.5rem;
}

.AllData {
  margin: 1rem 0.5rem;
  border: 5px solid var(--border);
  border-radius: 4%;
  padding: 1rem;
}

.DataBox {
  display: flex;
}

button {
  cursor: pointer;
  padding: 0.25rem;
  background-color: var(--button);
  border-radius: 2px;
  color: #FFF;

}

button:hover {
  background-color: red;
}

#countryInput {
border:1px solid #555;
border-radius: 2px;
padding: 0.1rem;
width: 60%;
}

#inputContainer{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#errorMessage {
  border: 1px solid red;
  background-color: #fff;
}

.hidden {
  display:none;
}